[Unit]
Description=Jupyter Notebook Server
After=network.target

[Service]
Type=simple
User={{ jupyter_user }}
Group={{ jupyter_group }}
ExecStart={{ jupyter_exe }} notebook

[Install]
WantedBy=multi-user.target
