[Desktop Entry]
Name=OrcaSlicer
Comment=OrcaSlicer - cutting-edge 3D printing slicer software designed to bring precision and ease to your 3D printing experience
Exec=/usr/local/bin/orcaslicer
Icon=OrcaSlicer.ico
Terminal=false
Type=Application
Categories=Engineering;
