[core]
    excludesfile = {{ ansible_user_dir }}/.gitignore_global
[color]
    ui = true
[init]
    defaultBranch = main

{% if git_config_aliases is defined and git_config_aliases != {} %}
[alias]
{% for key, val in git_config_aliases.items() %}
    {{ key }} = {{ val }}
{% endfor %}
{% endif %}

{% if git_config_user is defined and git_config_user != {} %}
[user]
{% for key, val in git_config_user.items() %}
    {{ key }} = {{ val }}
{% endfor %}
{% endif %}
