[Unit]
Description=Calibre Content Server
After=network.target

[Service]
Type=simple
User={{ calibre_user }}
Group={{ calibre_user }}
ExecStart=/usr/bin/calibre-server "{{ calibre_library_dir }}"

[Install]
WantedBy=multi-user.target
