[core]
    editor = {{ editor }}
    excludesfile = {{ home }}/.gitignore_global
[color]
    ui = true
[alias]
    graph = log --oneline --graph --decorate
    sb = show-branch
    last = log --stat -n 1 --
[user]
    email = {{ git_email }}
    name = {{ git_full_name }}
