{# vim: set ft=vim: #}
{{ ansible_managed | comment }}

{% if otelcol_extensions != {} %}
extensions:
  {{ otelcol_extensions | to_nice_yaml(indent=2) | indent(2) }}
{% endif %}

{% if otelcol_receivers != {} %}
receivers:
  {{ otelcol_receivers | to_nice_yaml(indent=2) | indent(2) }}
{% endif %}

{% if otelcol_processors != {} %}
processors:
  {{ otelcol_processors | to_nice_yaml(indent=2) | indent(2) }}
{% endif %}

{% if otelcol_exporters != {} %}
exporters:
  {{ otelcol_exporters | to_nice_yaml(indent=2) | indent(2) }}
{% endif %}

{% if otelcol_service != {} %}
service:
  {{ otelcol_service | to_nice_yaml(indent=2) | indent(2) }}
{% endif %}
