{# vim: set ft=vim: #}
{{ ansible_managed | comment(decoration='"') }}
call plug#begin(stdpath('data') . '/plugged')

{# Add plugins with custom settings #}
for fpath in split(globpath('{{ nvim_config_path }}/plug/', '*.vim'), '\n')
  exe 'source' fpath
endfor

call plug#end()

" Terminal mappings
tnoremap <Esc> <C-\><C-n>
nmap <leader>s :term<CR>a

" Centre view on next/previus search result
nmap n nzz
nmap N Nzz

" Move between splits with CTRL+[hjkl]
map <C-h> <C-w>h
map <C-j> <C-w>j
map <C-k> <C-w>k
map <C-l> <C-w>l

" Syntax HL and indentation
syntax on
filetype plugin indent on
set et bs=2 ts=4 sts=4 sw=4
set bg=dark

" Make
command! -nargs=* Make :vs term://make <args>

" Configure ansible-managed plugins
runtime ansible-managed/**/*.vim
